* {
  box-sizing: border-box;
}
body {
  font-family: 'Times New Roman', sans-serif;
  height: 100%;
  background-image: url("../images/background_3.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#body2 {
  background-image: url("../images/background_2.jpeg");
}
#body3 {
  background-image: url("../images/background_1.jpeg");
}
#body4 {
  background-image: url("../images/background_4.jpeg");
}
nav div {
  text-align:center;
  padding: 8px;
  margin: 1%;
}
nav div:hover {
  background:#555;
}
div {
  padding: 8px;
  margin: 1%;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  border-color:orange;
}
div:hover {
  background:white;
}
.headerFont {
  font-weight: bold;
  font-size: 75px;
  margin: 25px auto;
}
.profilepic {
  border-radius: 50%;
}
.container {
  display: flex;
  flex-direction: row;
  border-style:inset;
  border-width: 5px;
  border-color: black;
}
.containerFoot {
  display: flex;
  flex-direction: row;
}
.navDesign {
  width: 98%;
  background-color: #555;
  overflow: auto;
}
.navDesign a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navDesign a:hover {
  background-color: grey;
}
.navDesign a:active {
  background-color: red;
}
#boxL {
  float: left;
  max-width: 33%;
}
#boxR {
  float: right;
  max-width: 66%;
}
#footerL {
  float: left;
  text-align:center;
  min-width: 50%;
  max-width: 50%;
}
#footerR {
  float: right;
  text-align:center;
  min-width:46%;
  max-width: 50%;
}
h1, h4 {
  text-align: center;
}
ul {
  text-align: center;
}
li {
  display: inline-block;
  margin-right: 8px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-github {
  background: black;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.smallText {
  font-style: italic;
  font-size: 0.9em;
}
.column {
  float: left;
  padding: 8px;
}
.left {
  width: 50%;
}
.right {
  width: 50%;
}
.row {
  float:left;
  width: 33.33%;
  border-style: double;
  border-width: 3px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
#hobbiesHead {
  background-color:green;
  padding: 8px;
  margin: 1%;
}
.roundedEdges {
  border-radius: 8px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}
.padded {
  padding:10px;
  font-size: 1.2rem;
}
span {
  font-weight: bold;
}
a {
  color: blue;
  text-decoration:none;
}
a:hover {
  background-color: grey;
}
@media only screen and (max-width: 2000px) {
  .padded {
    padding:10px;
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 1200px) {
  .padded {
    padding:10px;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 600px) {
  .padded {
    padding:10px;
    font-size: 1.0rem;
}
